body {
	margin: 0;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #333333;
	text-align: center;
	font-family: 'Montserrat Alternates', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size:16px;

}
header {
	position: relative;
}
.main {
	margin: 0 auto;
	max-width: 1000px;
}
.my-container {
	margin: 0 auto;
	width: 100%;
}
.page {
	background: rgba(240, 248, 255, 0.5);
	margin: 0 auto;
	margin-bottom: 20px;
	height: 95%;
	width: 100%;
	border-radius: 5px;
	position: relative;
}
.menu {
	background: #1b3a6e;
	height: 50px;
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.menu-list {
	list-style: none;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-grow: 1;
}
.menu-link {
	color: #d3d3d3;
	font-size: 20px;
}
.menu-link:hover {
	color: white;
	text-decoration: none;
}
.comfort {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 65px auto;
}
.comfort div {
	height: 30%;
	width: 30%;
	margin: 10px;
	text-align: center;
}
h3 {
	margin-top: 75px;
}
.order {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 30px 0 50px 30px;
}
.order_form {
	height: 20%;
	width: 25%;
	text-align: left;
	line-height: 2;
}
.order_form input,
.order_form select {
	width: 200px;
	height: 40px;
	background: transparent;
  border: 1px solid #1b3a6e;
  border-radius: 5px;
}
.btn_order {
	background: #1b3a6e;
	height: 50px;
	width: 200px;
	border-radius: 5px;
	color: #d3d3d3;
}
footer {
	margin-top: 50px;
	background: #1b3a6e;
	height: 20%;
	width: 100%;
	border-radius: 0 0 5px 5px;
	color: #d3d3d3;
}
.footer {
	padding: 20px;
	text-align: left;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.menu-footer {
	list-style: none;
	text-decoration: none;
}
.footer-link {
	color: #d3d3d3;
}
.footer-link:hover {
	color: white;
	text-decoration: none;
}
.navigation ul {
	padding-left: 0;
}
.social-icon img {
	margin: 10px;
}

#menu__toggle {
	opacity: 0;
}

@media (max-width: 930px) {
	.order {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
}
@media (max-width: 768px) {
	.comfort {
		margin: 20px auto;
	}
	h3 {
		margin-top: 20px;
	}
	h5 {
		font-size: 18px;
	}
	.main {
		max-width: none;
	}

	.footer {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		flex-wrap: wrap;
	}

	/*бургер*/
	#menu__toggle {
		opacity: 0;
	}
	/* стилизуем кнопку */
	.menu__btn {
		display: flex; /* используем flex для центрирования содержимого */
		align-items: center; /* центрируем содержимое кнопки */
		position: absolute;
		top: 10px;
		left: 20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 20;
	}
	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #d3d3d3;
	}
	.menu__btn > span::before {
		content: "";
		top: -8px;
	}
	.menu__btn > span::after {
		content: "";
		top: 8px;
	}
	/* контейнер меню */
	.menu-list {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0px;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 140px 0;
		list-style: none;
		text-align: center;
		background-color: rgba(27, 58, 110, 0.8);
		box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
		z-index: 10;
	}
	/* элементы меню */
	.menu-link {
		display: block;
		padding: 12px 24px;
		color: #d3d3d3;
		font-family: "Montserrat Alternates", sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}
	.menu-link:hover {
		color: white;
	}
	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu-list {
		visibility: visible;
		left: 0;
	}
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		transition-duration: 0.25s;
	}
	.menu-list {
		transition-duration: 0.25s;
	}
	.menu-link {
		transition-duration: 0.25s;
	}
}